.calculatorKeys {
  display: grid;
  grid-template-columns: repeat(4, 3.5em);
  gap: 1.4em;
  padding: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
